// lastComments.scss

.last-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  color: var(--tt);

  h2 {
    margin: 20px 0;
  }

  .last-comments-title {

    margin-bottom: 15px;
    font-size: 1.2em;
    padding-bottom: 8px;
    border-bottom: 1px solid #444;
  }

  .last-comments-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .last-comments-loading {
    text-align: center;
    padding: 20px;
    font-size: 14px;
  }

  .last-comments-error {
    background: var(--bg1s);
    color: var(--tt);
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    font-size: 13px;
  }

  .no-last-comments {
    text-align: center;
    padding: 20px;
    font-style: italic;
  }
}

.last-comments-loading {
  text-align: center;
  font-size: 18px;
  color: var(--tt);
  padding: 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;

  .pagination-arrow {
    color: var(--tt);
    background: none;
    margin: 20px 7px;
    border-radius: 5px;
    padding: 8px 13px;
    font-size: 14px;
    font-family: "Circe", sans-serif;
    font-weight: bold;
  }
    .pagination-arrow:hover {
      background-color: black;
      cursor: pointer;
    }
}

.pagination-buttons .active {
  background: var(--bg1s);
}
.pagination-buttons button {
  font-size: 14px;
  font-family: "Circe", sans-serif;
  font-weight: bold;
  color: var(--tt);
  background: none;
  margin: 20px 7px;
  border-radius: 5px;
  padding: 8px 13px;
}
.pagination-buttons button:hover {
  background-color: black;
  cursor: pointer;
}
