footer {
  background-color: var(--bg1s);
  border-radius: 10px;
  font-size: 13px;
  padding: 20px 30px;
  height: 100px;
  margin-bottom: 40px;

  > div:first-child {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
      align-items: flex-start;

      > div:first-child {

        a {
          color: white;
          margin-right: 40px;
        } >:hover {
                    text-decoration: underline;
                  }
        a:last-child {
          font-weight: bold;
        }
      }

      > div:last-child {
        color: var(--tt-2);
      }
    }

  >div:last-child {

    gap:20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    >div:first-child {
      color: var(--tt-2);
    }
    >div:last-child {
      display: flex;

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      div {
        width:30px;
        height: 20px;
        background-color:white;
      }
    }
    }


}